.image-container {
    margin: auto;
}

.button-style {
    font-size: 20px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 9999; 
  }
  
  .popup-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: #fff; 
  }
  
  .close-button {
    font-family:'Inter', sans-serif;
    font-weight: 600;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0px;
    font-size: 30px;
    color: #000000; 
    background-color: rgb(255, 255, 255);
    opacity: 80%;
    border: 1px solid #000000;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 991px)  {
    .close-button {
        font-size: 20px;
      }
    
      .popup-content {
        margin: 10px;
      }

  }

  @media (orientation: landscape) and (max-width: 991px) {
    .close-button {
        font-size: 20px;
        }
        
    .popup-content {
        width: auto;
        height: 95%;
        }
    .pop-container {
        height: 100%;
        }
  }