.fullscreen-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  
  .charles {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    object-position: bottom;
  }