.card-position {
    display: flex;
    justify-content: center;
}

.card-style {
    margin: auto;
    margin-bottom: 30px;
}

.card-image {
    height: 200px;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

strong {
    font-size: 20px;
}



.card-title {
    display: flex;
    justify-content: center;
}
