.navbar-color {
  background-color: rgba(71, 85, 94, 0.7);
}

.navbar-color .nav-link {
  color: #eeeeee;
}

.typo {
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  font-weight:100;
  
}

.fb-logo, .insta-logo {
  margin-right: 15px;
}

.social-position {
 right: 150px;
}

.media-collapse {
  outline: none;
  border: none;
  box-shadow: none;
}

@media only screen and (max-width: 991px)  {
  .typo {
    font-size: 18px;
    font-weight: 400;
  }
  .fb-logo, .insta-logo {
    margin-top: 10px;
    margin-right: 15px;
    height: 35px;
  }

  .charles-logo {
    height: 50px;
    margin-bottom: 5px;
  }
}