body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    180deg,
    hsl(0deg 0% 12%) 0%,
    hsl(205deg 3% 14%) 28%,
    hsl(204deg 5% 16%) 41%,
    hsl(204deg 7% 18%) 51%,
    hsl(204deg 9% 21%) 61%,
    hsl(204deg 10% 23%) 69%,
    hsl(204deg 11% 25%) 78%,
    hsl(204deg 12% 28%) 85%,
    hsl(204deg 13% 30%) 93%,
    hsl(203deg 14% 32%) 100%
  );
  height: 100vh;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* app */
.navbar-color {
  background-color: rgba(71, 85, 94, 0.7);
}

.navbar-color .nav-link {
  color: #eeeeee;
}

.typo {
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  font-weight:100;
 
}

.social-logo {
  margin-right: 23px;
}

.social-position {
 right: 150px;
}
.social-icons-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.media-collapse {
  outline: none;
  border: none;
  box-shadow: none;
}

@media only screen and (max-width: 991px)  {
  .typo {
    font-size: 18px;
    font-weight: 400;

  }
  .social-logo{
    margin-top: 10px;
    margin-right: 15px;
    height: 30px;
  }

  .charles-logo {
    height: 50px;
    margin-bottom: 5px;
  }

}

/* layer */
.layer1 {
  position: absolute;
  opacity: 0.2;
  max-width: 150px!important;
  top: 75px;
  right: 0px;
  z-index: -2;
}

.layer2 {
  position: absolute;
  opacity: 0.2;
  max-width: 150px!important;
  top: 75px;
  left: 0px;
  z-index: -2;
}

@media only screen and (min-width: 991px)  {
  .layer1{
    right: 65px;
    top: 50px;
  }
  .layer2{
    left: 65px;
    top: 50px;
  }
}
/* header */
@media only screen and (min-width: 991px)  {
 .navbar-color {
  height: 60px;
 }
 .charles-logo {
  height: 50px;
 }
 .nav-link {
  font-size: 20px !important;
 }
 .social-logo {
  height: 30px;
  margin-right: 15px;
 }
 .typo {
  position: absolute;
  left: 36.5%;
 }
}

/* acceuil */
.fullscreen-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.centered-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Archivo Black", sans-serif;
  color: #EEE;
}

.title-splash {
  font-size: 70px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}


.charles {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  object-position: bottom;
}

@media only screen and (max-width: 991px)  {
  .title-splash {
      font-size: 40px;
    }
}

/* portfolio */

.button-style {
  font-size: 20px;
}
.my-masonry-grid {
  display: flex;
  width: auto;
  margin-right: 15px;
}

.separator {
  margin-top: 30px;
}

.my-masonry-grid_column {
  padding-left: 15px; 
  background-clip: padding-box;

}

.my-masonry-grid_item {
  margin-bottom: 15px; 
}

.full-height-modal {
  width: 100% !important;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* tarifs */
.card-position {
  display: flex;
  justify-content: center;
}

.card-style {
  margin: auto;
  margin-bottom: 30px;
  width: 18rem;

}

.card-image {
  height: 200px;
  width: auto;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.card-price {
  font-weight: 700;

}

strong {
  font-size: 20px;
}

.card-title {
  display: flex;
  justify-content: center;
}

/* contact */
.form-position {
font-family: 'Inter', sans-serif;
display: flex;
justify-content: center;
align-items: center;
color: #EEE;
font-size: 18px;
font-weight: 600;
}

.text-contact {
  color: #EEE;
  font-size: 16px;
  margin: 30px;
  text-align: justify;
}

.title-page {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  color: #EEE;
  display: flex;
  justify-content: center;
  margin: 25px;
  text-align: center;
}

hr {
  color: #EEE !important;
  width: 50%;
  margin: auto !important;
  margin-bottom: 30px !important;
}

input{
 min-width: 350px;
}

input, textarea {
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
}

textarea {
  min-width: 350px;
  min-height: 200px;
}

@media only screen and (min-width: 991px) {
  input {
      display: flex;
      justify-content: flex-end;
      min-width: 400px;
      min-height: 40px;
      
  }
  textarea {
      display: flex;
      justify-content: flex-end;
      min-width: 550px;
      min-height: 200px;
  }

  .text-contact {
      color: #EEE;
      font-size: 18px;
      margin: auto;
      width: 50%;
      margin-bottom: 30px;
      margin-top: 30px;
  }
}
/* contact button */
.button-87 {
  margin: 10px;
  padding: 15px 30px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

/* footer */
.footer {

  left: 0;
  bottom: 0;
  width: 100%;

  text-align: center;
  padding: 20px;
}

.text-footer {
    color: #EEE;

}

/* loading */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  margin: auto;
}

/* captcha */
.captcha {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
}
